<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583874249070-hblgnvpvul4vvlvdnfl1jm6kshsmtlob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583874249070-hblgnvpvul4vvlvdnfl1jm6kshsmtlob</string>
	<key>API_KEY</key>
	<string>AIzaSyBI-uo_3TUE90ATKdGFbd487g33W89fqmg</string>
	<key>GCM_SENDER_ID</key>
	<string>583874249070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udara.COLOMBO-BSCCOMP-PT-023</string>
	<key>PROJECT_ID</key>
	<string>nibm-broker-54844</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-broker-54844.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583874249070:ios:5e8ce6e127d158c744417f</string>
</dict>
</plist>